@use "./variables" as *;

@mixin reset_button_defaults() {
  display: block;
  font-family: "Lab Grotesque 500", sans-serif;
  font-size: 1rem;
  border: none;
  border-radius: 0;
  line-height: 1.5rem;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}

@mixin flex_center() {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex_align_center() {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

@mixin button() {
  @include reset_button_defaults();
  border-radius: .375rem;
  color: $white;
  transition: color $standard-transition, background-color $standard-transition, filter $standard-transition;
}